body {
  margin: 0;
  height: 100vh;
  text-align: center;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  color: #45b29a;
  font-size: 250%;
  font-weight: 400;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h2 {
  color: #45b29a;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  font-weight: 200;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
  font-size: 120%;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/*************************** CLASS ************************/
.btn {
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.certificate-row {
  position: relative;
  width: 800px;
  max-width: 90%;
  margin: 25px auto 25px auto;
  text-align: left;
  line-height: 2;
}

.distinguishing {
  width: 800px;
  max-width: 90%;
  margin: 50px auto 50px auto;
  text-align: center;
  line-height: 2;
}
.footer-link {
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.leftimage {
  width: 175px;
  max-width: 50%;
  float: left;
  padding-right: 30px;
}

.link {
  display: block;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.profile {
  width: 600px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  line-height: 2;
}
.rightimage {
  width: 175px;
  max-width: 50%;
  float: right;
  padding-left: 30px;
}
.top1 {
  background-color: #e0ebe8;
  position: relative;
  height: 15vh;
  width: 100%;
}
.top2 {
  background-color: #e0ebe8;
  position: relative; /*necessário para colocar a posição das imagens relativa*/
  height: 25vh;
  width: 100%;
}
.top3 {
  background-color: #e0ebe8;
  text-align: center;
  position: relative;
  width: 100%;
}
.top-image1 {
  position: relative;
  width: 120px;
}
.top-image2 {
  position: relative;
  width: 150px;
}
.skill-row {
  width: 800px;
  max-width: 90%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

/*************************** IDs ************************/

#avatar {
  display: inline-block;
  position: relative;
  right: 40%;
  top: 5%;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

#cloud_top {
  position: relative;
  left: 30%;
  top: 30%;
  width: 150px;
}

#cloud_bottom {
  position: relative;
  right: 30%;
  width: 150px;
  max-width: 90%;
}

#introduction {
  width: 350px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#land {
  width: 80%;
  background-color: #e0ebe8;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border: 0;
  padding: 0;
}
#title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  color: #45b29a;
  padding: 1em 0;
  font-size: 180%;
  font-weight: 400;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

